/*.heading{
    color:blue;
    font-size: 24px;
    
    
    
}
body{
    background-color: black;
    color:white;
}
#box{
    width: 100px;
    height : 250px;
    background-color: blue;
    border: 1px solid black;
}

div{
    width: 100px;
    background-color: red;
    color: white;
    height: 300px;
    border: 3px solid blue;
}
.dark{
    background-color: black;
    color:aliceblue;
}
.light{
    background-color: white;
    color:black;
}*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;

}

.container {
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3, green, blue, alpha);
    font-size: 8vmin;
    color: #b0413E;
    background-color: #ffffc7;
}

#reset {
    paddle: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    paddle: 1rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 0.1rem;
    border: none;


}

#msg {
    color: #ffffc7;
    font-size: 5vmin;


}

.msg-container {
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: centre;
    align-items: centre;
    flex-direction: column;
    gap: 4rem;

}

.hide {
    display: none;
}